.container {
  width: 100%;
  margin: 54px 0 19px 0;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 32px;
  display: flex;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  /* margin: 0 36px 0 24px; */
  margin-left: 24px;
  padding-right: 36px;
}

.field input {
  height: 52px;
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 24px;
  font-weight: 300;
  caret-color: var(--red-color);
  cursor: pointer;
}

.field input:focus {
  border-bottom: 1px solid var(--sea-color);
}

@media only screen and (max-width: 1100px) {
  .container {
    margin: 0 24px 19px 24px;
  }

  .field input {
    height: 36px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 19px 16px 19px 16px;
  }

  .field input {
    height: 24px;
    font-size: 16px;
  }
}